<div id="edit_profile">
  <div id="head">
      <%= image_tag @person.get_image  %>
      <div id="head_info">
        <h1>Introduce Yourself</h1>
        <div>Add details about your self to help connect with relevant people at the conference.</div>
      </div>
  </div>

  <%= render 'form' %>
  <a href="<%= event_info_api_v1_logins_path %>" id="event_link">See event info</a>

</div>