<div id="edit_profile">
  <div id="head">
      <%= image_tag @person.get_image  %>
      <div id="head_info">
        <h1>Introduce Yourself</h1>
        <div>Complete your profile to connect with other attendees.</div>
      </div>
  </div>

  <%= render 'form' %>
  <a href="" id="event_link">See event info</a>

</div>