<%= render :partial => "api/v1/shared/subhead", :locals => { :page => @page } %>
<div id="member_ad"><a href="<%= MEMBERSHIP_LINK %>">LEARN MORE ABOUT SUBSCRIPTION PERKS ></a></div>
<table width="100%" style="align:center;border-spacing:0px;" class="people_list">
<% @people.each do |person| %>
    <%= render partial: "api/v1/shared/people_list", :locals => { :person => person,
    :current_user => @current_user } %>
<% end %>
</table>
