<%= render :partial => "api/v1/shared/search", :locals => {:current_user => @current_user } %>
<div id="search_tagline">
  Search to find the type of attendees you'd like to meet (i.e. Co-founder, Designer, E-commerce, Collaborator, Investor)
</div>

