<div id="search">
    <%= form_tag @search, :method => :post, :id => "search_form" do %>
          <%= text_field_tag :search, params[:search] %>
          <%= image_submit_tag("searchicon.png") %>
          <%= hidden_field_tag :auth_token, @current_user.authentication_token %>
    <% end %>
</div>
<div id="search_tagline">
  Search to find the type of attendees you'd like to meet.
</div>

