<div id="search">
    <%= form_tag @search, :method => :post, :id => "search_form" do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
          <%= hidden_field_tag :auth_token, @current_user.authentication_token %>
        </p>
    <% end %>
</div>
<div id="search_tagline">
  Search to find the type of attendees you'd like to meet.
</div>

