<div id="search_bar">
  <form method="post" action="search#show">
    <input type="text" name="keywords" length=20 style="width:70%;">
    <input type="hidden" name="attending" value="1">
    <input type="submit" value="Search" class="search">
  </form>
</div>
