<%= render :partial => "api/v1/shared/subhead", :locals => { :page => @page } %>
  <% if @followsme.present? %>
    <table width="100%" style="align:center;border-spacing:0px;" class="people_list">
      <% @followsme.each do |follow| %>
          <% if follow.person.attending %>
              <%= render partial: "api/v1/shared/people_list", :locals => { :person => follow.person, :current_user => @current_user } %>
          <% end %>
      <% end %>
    </table>
  <% end %>
  <% if @followsme.empty? %>
    <p style="margin:10px">Followers are attendees who'd like to like to connect with you.</p>
    <p style="margin:10px">There are no 'Followers' at this time. Make sure your profile is complete to let other know
    how to
    connect with
    you.</p>
  <% end %>
