<%= render :partial => "api/v1/shared/subhead", :locals => { :page => @page } %>
<table width="100%" style="align:center;border-spacing:0px;" class="people_list">
  <% @follows.each do |followship| %>
        <%= render partial: "api/v1/shared/people_list", :locals => { :person => followship.followed_person, :current_user => @current_user, :page => @page } %>
    <% end %>
  </tr>
</table>

<br />

