<%= render :partial => "api/v1/shared/subhead", :locals => { :page => @page } %>
<table width="100%" style="align:center;border-spacing:0px;" class="people_list">
  <% @follows.each do |followship| %>
        <%= render partial: "api/v1/shared/people_list", :locals => { :person => followship.followed_person, :current_user => @current_user, :page => @page } %>
    <% end %>
  </tr>
</table>
<% if @follows.empty? %>
    <p style="margin:10px">You are not following anyone yet.</p>
    <p style="margin:10px">Find attendees you would like to to connect with by selecting the 'Follow' button to add to your 'Following'
    list.</p>
<% end %>

<br />

