<h1 style="color:pink;width:100%;text-align:center;">Women 2.0</h1>

<div style="margin:10px 0px;">Access the Women 2.0 Event</div>

<div >
<form method="post" action="logins">
  <input type="text" name="email" length=80 style="width:80%;" placeholder="Enter your email."><br />
  <input type="submit" value="Login" class="button" style="float:left;" >
</form>
</div>
<div style="margin:10px 0px;width:100%;float:left;">
Not registered?
</div>

<div style="background-color:#aaa;float:left;padding:3px 10px;">
<a class="button" href="">BUY TICKET</a>
</div>


