/*
*= require_self
*/

#subhead {
    width:100%;
    margin-top:-10px;
    background-color:#e6e6e6;
    height:46px;
    padding-bottom:16px;
}

#subhead a.selected {
    background-color:#ccc;
}
#subhead a:active, #subhead a:hover, #subhead a:link, #subhead a:visited { color:#000; }
#subhead a {
    border-bottom:1px solid #b6b6b6;
    text-align:center;
    text-decoration:none;
    display:inline;
    float:left;
    /* width:79px;*/
    width:29.5%;
    height:30px;
    border-right:1px solid #b6b6b6;
    padding-right:7px;
    padding-bottom:0px;
    padding-top:31px;
    padding-left:3px;
    font-weight:bold;
    font-size:14px;
    background-color:#E6E6E6;
}

#subhead a.middle {
  width:31%;
}
#subhead a.end {
  border-right:none;
}

body {
    font-family: Lato, sans-serif;
    margin-left:0px;
    margin-right:0px;
    margin-top:10px;
    font-size:12px;
}

a {
    text-decoration:none;
}

#search_bar {
    width:100%;
    height:30px;
}


table#attending {
    width:100%;
}

.profile {
    width:100%;
    height:80px;
    float:left;
    margin-bottom:10px;
}
.profile_cell {
    border:1px solid #aaa;
    padding:5px;
    float:left;
    width:170px;
    height:60px;
}

.label {
    width:100px;
}

/**********************             edit profile */


#edit_profile {
    width:100%;
    margin:-10px 20px 3px 3px;
}


#edit_profile h1 {
  font-size:16px;
  padding-top:5px;
}

#edit_profile #head_info {
   margin-top:15px;
}
#edit_profile img {
    height:80px;
    width:80px;
    margin-top:7px;
    margin-bottom:7px;
    padding-right:7px;
    padding-left:4px;
    float:left;
    position:relative;
}

#edit_profile #head {
  height:90px;
  display:block;
  margin-right:34px;
  margin-left:26px;
}

#edit_person  {
  font-size:14px;
  line-height:13px;
}


#event_link {
    width:100%;
    position:relative;
    float:left;
    text-align:center;
    margin-top:15px;
    margin-bottom:30px;
    padding:4px 7px 4px 7px;
    background-color: #575757;
    text-transform:uppercase;
    color:#fff;
}

#edit_profile label {
    display:block;
    line-height:20px;
    padding-top:10px;
}
#edit_profile label.inline_checkbox {
  display:inline;
}

#edit_profile input[type=checkbox]{
    -webkit-appearance:checkbox;
    margin-left:0px;
    margin-bottom:10px;
}

.edit_person input[type=submit]{
    position:relative;
    display:block;
    text-align:center;
/*    width:225px;*/
    width:100%;
    height:40px;
    background-color:#E53868;
    color:#fff;
/*    margin:0px 30px 7px 30px;*/
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.centered_div {
    width:80%;
    position:relative;
    float:left;
    left:-20%;

}

input[type=text] {
    -webkit-appearance: none;
    border-radius: 0;
    padding:0px;
    padding-left:2px;
}


#edit_profile input[type=text] {
    width:98%;
    height:20px;
    font-size:15px;
    line-height:14px;
}


#edit_profile form {
  margin:10px 42px 0px 30px;
}

/**********************             people list styles */

table.people_list {
    cell-spacing:0px;
    border-spacing:0px;
    border-collapse:collapse;
}
table.people_list td {
    border-bottom:1px solid #ccc;
    width:100%;
}

.attending_row {
    float:left;
    height:54px;
    color:#333;
    width:70%;
}

.attending_pic {
    float:left;
    margin:-1px 8px -4px -1px;
    width:60px;
    height:60px;
    overflow:hidden;
    position:relative;
}

.attending_pic img {
    width:60px;
    position:absolute;
    bottom:0px;
}

a:active {
    color:white;
}

a:visited {
    color:black;
}

.follow_button, .edit_button, .pic_edit_button, .done_button {
    background-color:#aaa;
    color:white;
    font-weight:bold;
    padding:3px 10px;
    margin:20px 5px 0px 0px;
    float:right;
    text-transform:uppercase;
}
a.button:visited {
    color:white;
}

.center_button{
    text-align:center;
    width:100%;
    position:relative;
    float:left;
    margin:5px 50px;
    height:30px;
}
#mail_to_link {
    padding:11px 10px 2px 10px;
    height:28px;
    font-size:14px;
    font-weight:normal;
    position:relative;
    float:left;
    width:70%;
    background-color: #E53868;
    color:#fff;
}

input[type=submit].follow, input[type=submit].unfollow {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #CCC;
    padding:4px 10px 2px 17px;
    width:74px;
    height:28px;
    font-size:11px;
    text-transform:none;
    font-weight:normal;
    margin-top:15px;
    position:absolute;
    right:13px;

}
#profile_detail_view input[type=submit].follow,  #profile_detail_view input[type=submit].unfollow {
   margin-top:-48px;
}

#person_detail_imagebox input[type=submit].follow, #person_detail_imagebox input[type=submit].unfollow {
    top:-48px;
    border:none;
}


input[type=submit].unfollow {
    background-color: #E53868;
    background: #E53868 url('star_yellow.png') no-repeat 3px 7px;

}

input[type=submit].follow {
    background: #fff url('star_grey.png') no-repeat 5px 7px;
    color:#333;
}



input[type=submit]{
    text-transform:uppercase;
    background-color: #aaa;
    color: white;
    border: none;
    padding: 3px 10px;
    margin-right:5px;
}
input[type=submit].search {
    margin-top:2px;
}

.edit_button {
    float:right;
    align:top;
}
.pic_edit_button {
    margin:3px 3px 15px 4px;
}

/********************           profile detail */

#profile_detail {
    margin-top:-10px;
}

#profile_detail

#profile_subhead {
    height:22px;
    width:100%;
    position:relative;
    border-bottom:1px solid #ccc;
    background-color: #E6E6E6;
}

#person_detail_follow {
    /* should be z-index */
    height: 30px;
}

#person_detail_imagebox {
    width:100%;
    position:relative;
}
#person_detail_imagebox img {

    z-index:1;
  /*  height:300px;*/
    width:100%;
}
#person_detail_view form {
    z-index:10;
    margin-top:-39px;
}

#person_info {
    padding-left:3px;
}

input[type=submit].close_link {
    background: #000000 url('backicon.png') no-repeat 0px 0px;
    width:30px;
    height:30px;
}

a#profile_detail_left {

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    margin-top:20px;
}

#profile_detail_left img {
  width:30px;
}

#profile_detail_view {
    /*margin-top:-10px;*/
    margin-top:49px;
    position:relative;
}




#profile_detail_right {
    position:relative;
    float:right;
    width:60%;
    height:20px;
    text-align:center;
    padding-top:3px;
    padding-right:20%;

}

#profile_detail p {
    padding-bottom:5px;
    border-bottom:1px solid #ccc;
}


/**********************             search view */
#search {
  margin-top:-10px;
  background-color:#E53868;
  padding:4px 0px 4px 0px;
  text-align:center;
}

#search input[type=image]{
    margin-top:0px;
    vertical-align:bottom;
    width:15px ;
    margin:13px 13px 13px 0px;
    float:right;
    position:relative;
}
#search input[type=text]{
    width:85%;
    padding: 4px 0px 13px 0px;


}
#search_tagline {
  padding:4px 10px;
  color:#333;
  size:14px;
}



#member_ad {
    background-color:#E53868;
    color:#fff;
    padding:4px 0px 3px 0px;
    width:100%;
    height:18px;
    text-align:center;
    position:relative;
    float:left;
    font-size:12px;

}
#member_ad a {
    color:#fff;
}

#member_ad a:hover {
    color:#fff;
    background-color:#E53868;
}

.person_title a {
    font-size:15px;
    font-weight:bold;
    padding-top:5px;
    line-height:20px;
    color:#333;
}

.person_content a {
    font-size:14px;
    color:#333;

    /*  line-height:22px;*/
}

