/*
*= require_self
*/

#subhead {
    width:100%;
}
#subhead a.selected {
    background-color:#ccc;
}
#subhead a {
    text-align:center;
    text-decoration:none;
    display:inline;
    float:left;
    /* width:79px;*/
    width:27%;
    height:18px;
    border:1px solid #b6b6b6;
    padding:4px 10px 4px 10px;
    margin-top:-10px;
    margin-right:-1px;
    margin-left:-1px;
    font-weight:bold;
    font-size:14px;
    background-color:#E6E6E6;
}

body {
    font-family: Lato, sans-serif;
    margin-left:0px;
    margin-right:0px;
    margin-top:10px;
    font-size:12px;
}

a {
    text-decoration:none;
}

#search_bar {
    width:100%;
    height:30px;
}


table#attending {
    width:100%;
}

.profile {
    width:100%;
    height:80px;
    float:left;
    margin-bottom:10px;
}
.profile_cell {
    border:1px solid #aaa;
    padding:5px;
    float:left;
    width:170px;
    height:60px;
}

.label {
    width:100px;
}

/**********************             edit profile */


#edit_profile {
    width:100%;
    margin:-10px 20px 3px 3px;
}


#edit_profile h1 {
  font-size:14px;
  line-height:16px;
  padding-bottom:0px;
  margin-bottom:0px;
}

#edit_profile #head_info {
    float:left;
    position:relative;
    font-size:12px;
    width:70%;
    height:65px;
}
#edit_profile img {
    height:60px;
    width:60px;
    padding-right:5px;
    padding-left:4px;
    float:left;
    position:relative;
}

#edit_profile #head {
  height:65px;
}

#edit_profile #note {
    width:100%;
    display:block;
    position:relative;
    float:left;
    font-style:italic;
    font-size:11px;
    padding-left:4px;
}

.edit_person input[type=submit]{
    margin-left:-10px;
    position:relative;
    display:block;
    float:left;
    width:97%;
    height:30px;
    background-color:#E53868;
    color:#fff;
    margin:3px 3px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

table#edit_person {
    width:100%;
}

#edit_person input[type=text] {
    width:95%;
    height:20px;
}

#edit_person td {
    min-width:100px;
}

/**********************             people list styles */

table.people_list {
    cell-spacing:0px;
    border-spacing:0px;
    border-collapse:collapse;
}
table.people_list td {
    border-bottom:1px solid #ccc;
    width:100%;
}

.attending_row {
    float:left;
    height:54px;
    color:#333;
}

.attending_pic {
    float:left;
    position:relative;
    margin:-1px 8px -4px -1px;
}

.attending_pic img {
    max-width:60px;
    max-height:60px;
}

a:active {
    color:white;
}

a:visited {
    color:black;
}

.follow_button, .edit_button, .pic_edit_button, input[type=submit], .done_button {
    background-color:#aaa;
    color:white;
    font-weight:bold;
    padding:3px 10px;
    margin:20px 5px 0px 0px;
    float:right;
    text-transform:uppercase;
}
a.button:visited {
    color:white;
}

#center_button {
    text-align:center;
    width:100%;
    height:30px;
}
#mail_to_link {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #CCC;
    padding:4px 10px 2px 10px;
    height:28px;
    font-size:14px;
    font-weight:normal;
    background-color: #E53868;
    color:#fff;
    width:200px;
}

input[type=submit].follow, input[type=submit].unfollow {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #CCC;
    padding:4px 10px 2px 22px;
    width:74px;
    height:28px;
    font-size:11px;
    text-transform:none;
    font-weight:normal;

}
input[type=submit].unfollow {
    background-color: #E53868;
    background: #E53868 url('star_yellow.png') no-repeat 2px 3px;

}

input[type=submit].follow {
    background: #fff url('star_grey.png') no-repeat 2px 3px;
    color:#333;
}

input[type=submit]{
    text-transform:uppercase;
    background-color: #aaa;
    color: white;
    border: none;
    padding: 3px 10px;
    margin-right:5px;
    align: right;
    float: right;
}
input[type=submit].search {
    margin-top:2px;
}

.edit_button {
    float:right;
    align:top;
}
.pic_edit_button {
    margin:3px 3px 15px 4px;
}

/********************           profile detail */

#profile_detail {
    margin-top:-10px;
}

#profile_detail img {              /* viewing detail */
    width:100%;
}

#profile_subhead {
    height:22px;
    width:100%;
    position:relative;
    border-bottom:1px solid #ccc;
    background-color: #E6E6E6;
}

#person_detail_follow {
    /* should be z-index */
    height: 30px;
}

#person_detail_imagebox {
    width:100%;
    position:relative;
    height:300px;
}
#person_detail_imagebox img {
    position:absolute;
    z-index:1;
    top:0px;
    left:0px;
    height:300px;
}
#person_detail_imagebox form {
    position:absolute;
    bottom:10px;
    right:10px;
    z-index:10;
}

#person_info {
    padding-left:3px;
}

#profile_detail_left {
    width:18%;
    position:relative;
    float:left;
    height:22px;
}

#profile_detail_left #arrow {
    height: 23px;
    width: 20px;
    color: #fff;
    background-color: #000;
    padding: 0px 1px 3px 5px;
    margin-top: -4px;
    font-size: 21px;
}

#profile_detail_right {
    position:relative;
    float:right;
    width:60%;
    height:20px;
    text-align:center;
    padding-top:3px;
    padding-right:20%;

}

#profile_detail p {
    padding-bottom:5px;
    border-bottom:1px solid #ccc;
}

#search_form input[type=submit]{
    margin-top:0px;
}
#search_form input[type=text]{
    width:70%;
}



#member_ad {
    background-color:#E53868;
    color:#fff;
    padding:4px 0px 3px 0px;
    width:100%;
    height:18px;
    text-align:center;
    position:relative;
    float:left;
    font-size:12px;

}
#member_ad a {
    color:#fff;
}

#member_ad a:hover {
    color:#fff;
    background-color:#E53868;
}

.person_title a {
    font-size:15px;
    font-weight:bold;
    padding-top:5px;
    line-height:20px;
    color:#333;
}

.person_content a {
    font-size:14px;
    color:#333;

    /*  line-height:22px;*/
}

